* {
    margin: 0;
    padding: 0;
}

body {
    font-family: helvetica, arial, sans-serif;
    background-color: #708090;
    color: #000;
}

header {
    border-bottom: #000 solid 2px;
    margin: 20px 0;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    color: #000;
    margin: 0;
    display: inline;
    
}

header a {
    text-decoration: none;      
    color: #000;
    margin: 20px 25px;
}

header nav {
    
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
    
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 33px;
}

div img {
    width: 550px;
    height: 300px;
}

.container {
    border: black, solid, 3px;
    margin: 40px 0;
    display: flex;

}

.card {
    width: 29.5%;
    margin: 25px 25px;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    padding: 10px;
    flex: 0 0 400px;
}

.websites {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bio img {
    box-sizing: border-box;
    margin: 25px 25px;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    flex: 0 0 400px;
    width: 200px;
    height: 200px;
    padding: 0 20px 0 20px
    float: left;
}

footer {
    background: #800000;
    width: 100%;
    padding: 40px 35px;
    color: #000;
}

section {
    padding: 0px;
    margin: 30px 25px 30px 25px;
}


