* {
    margin: 0;
    padding: 0;
}

body {
    font-family: helvetica, arial, sans-serif;
    background-color: #708090;
    color: #000;
}

header {
    border-bottom: #000 solid 2px;
    margin: 20px 0;
}

/* my first and last name */
header h1 {
    font-weight: bold;
    font-size: 50px;
    color: #000;
    margin: 0;
    display: inline;
    
}

header a {
    text-decoration: none;      
    color: #000;
    margin: 20px 25px;
}

header nav {
    
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
    
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 33px;
}

.headcon {
    display: flex;
    flex: wrap;
    justify-content: center;

}

div img {
    width: 100%;
    height: 300px;
}

.container {
    border: black, solid, 3px;
    margin: 40px 0;
    display: flex;

}

.card, .small-card {
    font-size: 10px;
    margin: 25px 25px;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    padding: 10px;
    flex-shrink: 0;
    flex: wrap;
}


.websites {
    display: flex;
    flex-direction: row;
    
}

.font {
    font-weight: bold;
    font-size: 30px;
    flex-shrink: 0;
}

.resize {
    width: 300px;
}

.large {
    width: 100%;
}

.bio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 30px 30px 30px;
}

div h3 {
    padding: 0px;
    margin: 0;
    font-weight: bold;
    font-size: large;
}

.bio img {
    box-sizing: border-box;
    margin: 0px;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    flex: 0 0 400px;
    width: 200px;
}

.bio p {
    margin: 0 30px 30px 30px;
}

footer {
    background: #800000;
    width: 100%;
    padding: 40px 35px;
    color: #000;
}

section {
    padding: 0px;
    margin: 20px 25px;
    font-weight: normal;
    font-size: 20px;
}

/* start of media queries */
@media screen and (max-width: 1024px) {
    .websites {
        display: felx;
        flex-direction: column;
    }
}

/* resizing of border around run-buddy */
@media screen and (max-width: 1024px) {
    .card {
        border-style: solid;
        width: 400px;
        height: 350px;
    }
}

/* resizing of border around Horiseon and github */
@media screen and (max-width: 1024px) {
    .small-card {
        border-style: solid;
        width: 300px;
    }
}

/* placing navigation directly under name */
@media screen and (max-width: 768px) {
    .stack {
        float: left;
    }
}

@media screen and (max-width: 540px) {
    .websites {
        display: felx;
        flex-direction: column;
    }
}

/* resizing of border around run-buddy */
@media screen and (max-width: 540px) {
    .card {
        border-style: solid;
        width: 250px;
        height: 225px;
    }
}

/* resizing of border around Horiseon and GitHub */
@media screen and (max-width: 540px) {
    .small-card {
        border-style: solid;
        width: 200px;
    }
}

/* resizing run-buddy img for small screens */
@media screen and (max-width: 540px) {
    .large {
        width: 250px;
        height: 200px;
}

/* column navigation for small screens */
@media screen and (max-width: 540px) {
    .phone {
        display: flex;
        flex-direction: column;
    }
}

/* resizing Horiseon & Github img */
@media screen and (max-width: 540px) {
    .resize {
        width: 200px;
        height: 150px;
}

/* bio img & <p> column for small screens */
@media screen and (max-width: 540px) {
    .bio {
        flex-direction: column;
    }
}

/* margins for bio paragraph */
@media screen and (max-width: 540px) {
    .bio p {
        margin: 0 120px 20px 0
    }
}

/* resizing of bio img for small screen */
@media screen and (max-width: 540px) {
    .bio img {
        flex: none;
        width: 200px;
        height: 200px;
    }
}

/* resizing of name for small screen */
@media screen and (max-width: 540px) {
    header h1 {
        font-size: 40px;
    }
}

/* resizing of nav for small screen */
@media screen and (max-width: 540px) {
    header nav ul li a {
        font-size: 25px;
    }
}